/.qt/
/.tools/
/.vs/
/build/
/build-*/
/dist/
/aqtinstall.log
/captures/
/screenshots/
SnipNexs-*.png
SnipNexs-*.jpg
SnipNexs-*.jpeg
SnipNexs-*.bmp
SnipNexs-*.mp4
*.snipnexs-*.partial.mp4

CMakeUserPresets.json
*.user
*.suo
*.VC.db
*.VC.opendb

*.obj
*.pdb
*.ilk
*.exe
*.dll
*.lib
*.exp
